* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

.header {
    background: #807752;
}

/* /Header */

/* Main page */

.mainpage {
    width: 100%;
    height: 100vh;
    background: #d5d1b9;
}

/* /Main page */

/* ShitPost page */

.shitpost {
    width: 100%;
    height: 100vh;
    background: #564949;
}

/* /ShitPost Page */